/* =======================================
   NOTIFICATION COLORS
   ======================================= */

@import "./percentages.css";
 :root {
  --color-primary: #0275d8;
  --color-success: #5cb85c;
  --color-info: #5bc0de;
  --color-warning: #f0ad4e;
  --color-danger: #d9534f;
}

 :root {
  --color-primary-100: color(var(--color-primary) whiteness(var(--percentage-high)));
  --color-primary-300: color(var(--color-primary) whiteness(var(--percentage-low)));
  --color-primary-500: var(--color-primary);
  --color-primary-700: color(var(--color-primary) blackness(var(--percentage-low)));
  --color-primary-900: color(var(--color-primary) blackness(var(--percentage-high)));
  --color-success-100: color(var(--color-success) whiteness(var(--percentage-high)));
  --color-success-300: color(var(--color-success) whiteness(var(--percentage-low)));
  --color-success-500: var(--color-success);
  --color-success-700: color(var(--color-success) blackness(var(--percentage-low)));
  --color-success-900: color(var(--color-success) blackness(var(--percentage-high)));
  --color-info-100: color(var(--color-info) whiteness(var(--percentage-high)));
  --color-info-300: color(var(--color-info) whiteness(var(--percentage-low)));
  --color-info-500: var(--color-info);
  --color-info-700: color(var(--color-info) blackness(var(--percentage-low)));
  --color-info-900: color(var(--color-info) blackness(var(--percentage-high)));
  --color-warning-100: color(var(--color-warning) whiteness(var(--percentage-high)));
  --color-warning-300: color(var(--color-warning) whiteness(var(--percentage-low)));
  --color-warning-500: var(--color-warning);
  --color-warning-700: color(var(--color-warning) blackness(var(--percentage-low)));
  --color-warning-900: color(var(--color-warning) blackness(var(--percentage-high)));
  --color-danger-100: color(var(--color-danger) whiteness(var(--percentage-high)));
  --color-danger-300: color(var(--color-danger) whiteness(var(--percentage-low)));
  --color-danger-500: var(--color-danger);
  --color-danger-700: color(var(--color-danger) blackness(var(--percentage-low)));
  --color-danger-900: color(var(--color-danger) blackness(var(--percentage-high)));
}

@each $weight in 100, 300, 500, 700, 900 {
  @each $brand in primary, success, info, warning, danger {
     :root {
      --u-background-color-$(brand)-$(weight) {
        background-color: var(--color-$(brand)-$(weight));
      }
    }
  }
}
