/* =======================================
THREE DIGIT COLOR CODES
======================================= */

:root {
  @for $a from 0 to 9 {
    @for $b from 0 to 9 {
      @for $c from 0 to 9 {

        --color-$(a)$(b)$(c): #$(a)$(b)$(c);

        --u-background-color-$(a)$(b)$(c) {
          background-color: #$(a)$(b)$(c);
        }
        --u-border-color-$(a)$(b)$(c) {
          border-color: #$(a)$(b)$(c);
        }
        --u-text-color-$(a)$(b)$(c) {
          color: #$(a)$(b)$(c);
        }
      }
    }
  }
}
